.container{
    margin: 50px auto;
    text-align: center;
    justify-content: center;
    gap: 40px;
    background-color: lightseagreen;
    padding: 15px;
    width: 650px;
    border-radius: 20px;
}

.words{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.title{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(50, 205, 76);
    padding: 10px;
    width: 650px;
    border-radius: 10px;
    text-shadow: 5px 5px #616161;
    font-family:  'Courier New', Courier, monospace;
}
.eng, .uz{
    display: flex;
    margin: 10px;
    gap: 20px;
    flex-direction: column;
}

.btn{
    width: 250px;
    height: 75px;
    font-size: 40px;
    background-color: green;
    border-radius: 20px;
    box-shadow: 10px 10px;
}

